<h5 class="mb-3">Manifesto</h5>

<p> New York, March 2020 // This blog aims to share basic analysis of open source Covid-19 datasets, as well as tutorials, resources, musings and reflections on this tragic crisis. </a>.</p>

<a target="_blank" href="https://www.nytimes.com/news-event/coronavirus" class="btn btn-warning d-block mb-2"><i class="fa fa-file"></i> NYT Coronavirus Coverage </a>

<a target="_blank" class="btn btn-danger d-block" href="https://www.wsj.com/livecoverage/coronavirus"><i class="fa fa-file"></i> WSJ Coronavirus Coverage </a>
